.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: rgb(20, 87, 232);
}

.messages {
    padding: 10px;
}

.message {

}